@import"settings.scss";
.ham-menu {
    position: absolute;
    right: -100%;
    top: 60px;
    width: 30%;
    transition: ease-in-out .4s;
    background-color: $mainDark;
    height: 100vh;
    display: none;
    z-index: 1;
    @media (max-width: $tablet) {
      display: block;
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
    &__active {
      right: 0;
      transition: ease-in-out .4s;
    }
    &__wrapper {
      padding: 0 16px;
    }
  }
  .ham-menu-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 34px 0 34px 8px;
    height: 170px;
    position: relative;
    & input {
      width: 100%;
      padding: 15px 13px;
      background-color: $sectionDark;
      border-radius: 5px;
  
    }
  }
  .ham-search {
    position: relative;
    &__svg {
      position: absolute;
      right: 17px;
      top: 14px;
    }
  }
  .ham-reg {
    display: flex;
    justify-content: space-between;
    gap: 10px
  }
  .ham-reg-left {
    @include flexCenter;
    gap: 11px;
    &__text {
      font-family: Arial, Helvetica, sans-serif;
      color: $textNav;
      font-size: 14px
    }
  
  
  }
  .ham-reg-right {
    @include flexCenter;
    gap: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: $textNav;
    font-size: 14px;
    text-transform: uppercase;
  }
  .ham-nav {
    padding: 34px 0;
    border-bottom: 1px solid #454545;
    border-top: 1px solid  #454545;
  }
  .ham-nav-list {
    display: grid;
    gap: 30px;
    &__item {
      @include flexCenter;
      gap: 10px;
      position: relative;
    }
    &__link {
      font-family: Arial, Helvetica, sans-serif;
      color: $textNav;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
  }
  .product-details {
    &__heading {
      @include flexCenter;
      @include navText;
      gap: 20px;
      font-size: 14px;
      list-style: none;
      &::-webkit-details-marker {
        display:none;
      }
    }
    &__arrow {
      position: absolute;
      left: 108px;
      top: 3px;
      rotate: -90deg;
      transition: ease-in-out .2s;
  
      &_active {
        transition: ease-in-out .2s;
        rotate: 0deg;
      }
    }
  }
  .product-details-list {
    padding: 30px 20px 0 ;
    display: grid;
    gap: 20px;
    &__link {
      font-family: Arial, Helvetica, sans-serif;
      color: $textNav;
      font-size: 14px;
    }
  }
  .ham-contacts {
    padding: 34px 0 60px;
    display: grid;
    gap: 22px;
    &__phone a{
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      color: $textNav;
      font-weight: bold;
      letter-spacing: 0.035em;
    }
  }
  .ham-social-list {
    display: flex;
    gap: 14px;
    &__item {
      @include box(50px);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #454545;
    }
  }