@import"settings.scss";
.header {
  display: flex;
  background-color: $mainDark;
  border-bottom: 1px solid #454545;
  padding: 27px 0;
  overflow: hidden;

}
.header-logo {
  position: absolute;
  left: 74px;
  @media (max-width: $smallDesc) {
    left: 20px;
  }
  @media (max-width: $tablet) {
    top: 15px;
  }
}
.header__wrapper {
  max-width: 1315px;
  margin: 0 auto;
}
.header-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
  @media (max-width: $smallDesc) {
    justify-items: start;
    gap: 30px;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.header-nav-wrapper {
  @include flexCenter;
  gap: 79px;
  &__tel {
    @include navText;
    font-size: 15px;
  }
    @media (max-width: $smallDesc) {
    gap: 20px;
  }
}
.header-nav-list {
  @include flexCenter;
  gap: 71px;
  &__item {
    position: relative;
    &:hover {
      .header-popUp {
        display: block;
      }
    }
  }
  &__link {
    @include navText;
  &:hover{
      border-bottom: 2px solid $redElems;
      padding: 27px 0;


    }
  }
  @media (max-width: $smallDesc) {
    gap: 20px;
  }
}
.header-popUp {
  position: absolute;
  top: 56px;
  left: -23px;
  display: none;
  &__link {
    @include navText;

  }
}
.header-popUp-list {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 25px;
    padding: 18px 31px;
    gap: 20px;
}
.header-lang {
  @include flexCenter;
  gap: 7px;
  &__lang{
    text-transform: uppercase;
    font-size: 12px;
    color: $textNav;
  }  
}
.header-right {
  display: flex;
  gap: 35px;
  padding: 5px;
  position: absolute;
  right: 70px;
  @media (max-width: $smallDesc) {
    right: 20px;
    gap: 20px;
  }
  @media (max-width: $tablet) {
    right: 5px; 
    gap: 30px;
    top: 12px;
  }
  &__svg {
    cursor: pointer;
  }
  &__svg-search {
    position: absolute;
    top: 5px;
    right: 120px;
    @media (max-width: $smallDesc) {
      right: 90px;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__svg-user {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__svg-phone {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
}
.search-form {
  &__field {
    position: absolute;
    right: 100px;
    top: -4px;
    transition: ease-in-out .4s;
    padding: 10px 20px;
    width: 0;
    background-color: inherit;
    color: $textNav;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.05em;
    @media (max-width: $smallDesc) {
      right: 75px;
      width: 45px;
      display: none;
    }
    &-active {
      width: 481px;
      background-color: #292B32;
      transition: ease-in-out .4s;
    }
  }
}
.cart-wrapper {
  position: relative;
  &__dot {
    top: -6px;
    right: -9px;
    position: absolute;
    @include box(7px);
    border-radius: 100%;
    background-color: $redElems;
  }
}
.ham-wrapper {
  display: none;
  width: 20px;
  position: relative;
  margin-left: auto;
  span:nth-child(1) {
    top: 25%;
  }
  span:nth-child(2) {
    width: 60%;
    left: 30%;
  }
  span:nth-child(3) {
    top: 75%;
  }
  &__active {
    span:nth-child(1) {
      top: 53%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      top: 45%;
      transform: translate(-50%, 50%) rotate(-45deg);

    }
  }
  @media (max-width: $tablet) {
    display: block;
  }
  .ham-wrapper__elem {
    width: 100%;
    height: 2px;
    background-color: $textNav;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .2s;
  }

}
.user-wrapper {
  display: block;
  @media (max-width: $tablet) {
    display: none;
  }
}

