@import"settings.scss";

.promo {
    height: 900px;
    background-color: $mainDark;
    background-image: url(/src/img/promoMain.png);
    background-repeat: no-repeat;
    background-position: bottom;
}