@import"settings.scss";

.products {
    background: #FFFFFF;
    text-align: center;
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 100px;
        
    }
}
.products-wrapper {
    height: 1018px;
    position: relative;
    @media (max-width: 1350px) {
        padding: 0 15px;
    }
}

