@import"settings.scss";

.promo {
    background-color: $mainDark;

    &__wrapper {
        padding: 98px 5px 0;
        display: flex;
        justify-content: space-between;
        background-image: url(/src/img/promoMeasure.png);
        background-repeat: no-repeat;
        background-image: url(/src/img/promoMeasure.png);
        background-position: center;
        background-size: 50%;

    }
}
.promo-left {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 260px;

    background-repeat: no-repeat;
    &__heading {
        font-family: Arial, Helvetica, sans-serif;
        color: $textNav;
        font-size: 32px;
        letter-spacing: 0.02rem;
        line-height: 2.5rem;
        font-weight: bold;
    }
    &__title-text {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: $textNav;
        font-size: 32px;
        font-weight: bold;

    }
    &__bottom {
        position: relative;
    }
}
.buy-btn {
    padding: 5px 0;
    position: absolute;
    top: 79px;
    left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: $textNav;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    border: none;
    border-bottom: 1px solid $textNav;
    background-color: transparent;
    cursor: pointer;
  
}
.promo-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px 320px 260px;
}
.promo-right-video {
    #textPath {
        fill: none;
      } 
    position: relative;
    &__text {
        width: 150px;
        rotate: -71deg;
        position: absolute;
        right: -70px;
        top: -115px;
        font-family: Arial, Helvetica, sans-serif;
        fill: $textNav;
        font-size: 17px;
        letter-spacing: 0.2rem;
    }
    &__play {
        position: absolute;
        top: 10px;
        right: 40px;
    }
}
.promo-right-heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    color: $textNav;
    &__text {
        text-align: end;
        font-size: 72px;
        font-weight: bold;
        margin-bottom: 19px;
        @media (max-width: $tablet) {
            font-size: 12px;
        }
    }
    &__text-top {
        margin-right: 15px;

    }
    &__bottom {
        font-size: 20px;
        font-weight: bold;

    }
}
.gosreestr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-right-gosreestr {
    display: flex;
    justify-content: end;
}
.gosreestr-text {
    font-family: Arial, Helvetica, sans-serif;
    color: $textNav;
    &__top {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 5px 0;
    }
    &__bottom {
        font-size: 12px;
    }
}


 