
// variables 
$mainDark: #1B1F22;
$sectionDark: #292B32;
$redElems: #FF3E41;
$textNav : #CBCECF;
$textWhite : #FFFFFF;


$smallDesc: 1750px;
$tablet: 1200px;
$mobile: 768px;
//  mixins
@mixin flexCenter {
  display: flex;
  align-items: center;
}
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin navText {
  font-family: Arial, Helvetica, sans-serif;
  color: $textNav;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.container {
  position: relative;
  overflow: hidden;
  
}
.wrapper {
    max-width: 1315px;
    margin: 0 auto;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@mixin section-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 50px;
}
@mixin section-mobile-heading {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 38px;
  max-width: fit-content;
}

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 0;
  }
  input,
  select,
  textarea {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
    border: 0;
  }

  a,
  a:hover,
  a:focus,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
  }